[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = http://github.com/opscode-cookbooks/apache2
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = http://github.com/opscode-cookbooks/apt
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/opscode-cookbooks/ark
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = http://github.com/opscode-cookbooks/build-essential
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = http://github.com/opscode-cookbooks/database
[submodule "cookbooks/gis"]
	path = cookbooks/gis
	url = git://github.com/marsam/cookbook-gis.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = http://github.com/opscode-cookbooks/java
[submodule "cookbooks/logrotate"]
	path = cookbooks/logrotate
	url = http://github.com/opscode-cookbooks/logrotate
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = http://github.com/opscode-cookbooks/openssl
[submodule "cookbooks/tomcat"]
	path = cookbooks/tomcat
	url = git://github.com/bryanwb/chef-tomcat.git
[submodule "cookbooks/omnibus_updater"]
	path = cookbooks/omnibus_updater
	url = git://github.com/hw-cookbooks/omnibus_updater.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git@github.com:slms4redd/postgresql.git
	branch = slms-patched
