<?xml version="1.0" encoding="UTF-8"?>
<FlowConfiguration>
  <id>publishStaticRasterData</id>
  <name>Publish GeoTIFF</name>
  <description>Publish on the Dissemination GeoServer an already optimized GeoTIFF</description>
  <autorun>true</autorun>
  <corePoolSize>10</corePoolSize>
  <maximumPoolSize>30</maximumPoolSize>
  <keepAliveTime>15</keepAliveTime>
  <!--seconds -->
  <workQueueSize>100</workQueueSize>
  <EventGeneratorConfiguration>
    <wildCard>*.tif</wildCard>
    <watchDirectory>/var/stg_geobatch/input/publishStaticRasterData</watchDirectory>
    <osType>OS_UNDEFINED</osType>
    <eventType>FILE_ADDED</eventType>
    <!--interval>0 * * * * ?</interval-->
    <!-- CRON: every minute at sec 0 -->
    <!-- <interval>20</interval> -->
    <!--  each 20 sec -->
    <serviceID>fsEventGeneratorService</serviceID>
  </EventGeneratorConfiguration>
  <EventConsumerConfiguration>
    <id>geotiff_retile_overview_publish</id>
    <listenerId>GeoTIFFConsumerLogger0</listenerId>
    <listenerId>GeoTIFFCumulator0</listenerId>
    <performBackup>false</performBackup>
    <preserveInput>false</preserveInput>
    <CopyConfiguration>
      <id>copy</id>
      <name>copyAction</name>
      <description>Copy a set of files to the destination</description>
      <destination>/var/diss_geoserver/extdata/staticRasterData</destination>
      <timeout>1000</timeout>
    </CopyConfiguration>
    <GeoServerActionConfiguration>
      <id>geotiff</id>
      <description>Action to ingest GeoTIFF on GeoServer</description>
      <name>geotiff action</name>
      <listenerId>GeoTIFFStatusActionLogger0</listenerId>
      <listenerId>GeoTIFFActionLogger0</listenerId>
      <crs>EPSG:4326</crs>
      <title>raster layer</title>
      <layerDescription>a raster file without time coordinates</layerDescription>
      <layerAbstract>a raster file without time coordinates</layerAbstract>
      <defaultStyle>raster</defaultStyle>
      <envelope />
      <dataTransferMethod>EXTERNAL</dataTransferMethod>
			<geoserverUID><%= node['unredd-nfms-portal']['stg_geoserver']['web_admin_user'] %></geoserverUID>
			<geoserverPWD><%= node['unredd-nfms-portal']['stg_geoserver']['web_admin_password'] %></geoserverPWD>
      <geoserverURL>http://localhost/diss_geoserver</geoserverURL>
      <defaultNamespace>unredd</defaultNamespace>
      <styles />
    </GeoServerActionConfiguration>
  </EventConsumerConfiguration>
  <ListenerConfigurations>
    <StatusProgressListener>
      <serviceID>statusListenerService</serviceID>
      <id>GeoTIFFStatusActionLogger0</id>
    </StatusProgressListener>
    <LoggingProgressListener>
      <serviceID>loggingListenerService</serviceID>
      <id>GeoTIFFActionLogger0</id>
      <loggerName>GeoTIFFActionLogger0</loggerName>
    </LoggingProgressListener>
    <LoggingProgressListener>
      <serviceID>loggingListenerService</serviceID>
      <id>GeoTIFFConsumerLogger0</id>
      <loggerName>GeoTIFFConsumerLogger0</loggerName>
    </LoggingProgressListener>
    <CumulatingProgressListener>
      <serviceID>cumulatingListenerService</serviceID>
      <id>GeoTIFFCumulator0</id>
    </CumulatingProgressListener>
  </ListenerConfigurations>
</FlowConfiguration>
