<org.geoserver.security.config.UsernamePasswordAuthenticationFilterConfig>
  <id>65fe7f71:13b521454b0:-7ffa</id>
  <name>form</name>
  <className>org.geoserver.security.filter.GeoServerUserNamePasswordAuthenticationFilter</className>
  <passwordParameterName>password</passwordParameterName>
  <usernameParameterName>username</usernameParameterName>
</org.geoserver.security.config.UsernamePasswordAuthenticationFilterConfig>