<org.geoserver.security.config.ExceptionTranslationFilterConfig>
  <id>65fe7f71:13b521454b0:-7ff2</id>
  <name>exception</name>
  <className>org.geoserver.security.filter.GeoServerExceptionTranslationFilter</className>
  <accessDeniedErrorPage>/accessDenied.jsp</accessDeniedErrorPage>
</org.geoserver.security.config.ExceptionTranslationFilterConfig>